<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="eu.atsora.atracking.report.extensions"
         name="TotalPlus"
         point="org.eclipse.birt.data.aggregation">
      <Aggregations>
				<AggregationFactory class="eu.atsora.atracking.report.extensions.PulseReportAggregationFactory"/>
      </Aggregations>
   </extension>

</plugin>
