<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.lemoinetechnologies.pulse.reports.extensions"
         name="TotalPlus"
         point="org.eclipse.birt.data.aggregation">
      <Aggregations>
				<AggregationFactory class="com.lemoinetechnologies.pulse.reports.extensions.PulseReportAggregationFactory"/>
      </Aggregations>
   </extension>

</plugin>
