<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	
	<display-name>New Pomamo Reporting Web Application</display-name>
	
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>ISO-8859-1</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

	<context-param>
		<description>Chemin relatif vers le fichier de configuration</description>
		<param-name>pulse.config.file</param-name>
		<param-value>pulsereporting.properties</param-value>
	</context-param>
	
	<!-- Définit les propriétés régionales par défaut de l'application -->
	<!-- Utilisation de l'anglais comme Locale par défaut -->
<!-- 	<context-param>
    <description>Locale to use if Java Runtime does not support the web request's locale</description>
		<param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
		<param-value>en</param-value>
	</context-param>
 -->
	<!-- Définit le ResourceBundle qui sera utilisé pour -->
	<!-- l'internationalisation des chaînes. -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>com.lemoinetechnologies.pulse.reporting.messages.messages</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-servlet.xml</param-value>
	</context-param>

	<!-- Load entire spring root application context to web context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Front Controller for all Spring based servlets -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>com.lemoinetechnologies.pulse.reporting.servlet.MyDispatcherServlet</servlet-class>
		<init-param>
			<description>Chemin relatif vers le fichier de configuration</description>
			<param-name>pulse.config.file</param-name>
			<param-value>./WEB-INF/pulsereporting.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
	<!-- le mapping des url -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout> <!-- in minutes -->
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
